html, body {
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0 0 4px #000;
}