@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,500;1,500&display=swap');

html, body {
    width: auto;
    height: -webkit-fill-available;
    background-color: #12161A;
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,h2,h3 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h3 {
    line-height: 1.5;
    margin-bottom: 0;
}

button, input {
    background-color: #1E2226;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button, input, #c {
    border-radius: .5rem;
    border: 1px solid #495057;
}

#download {
    padding: 15px 32px;
    background-color: #236DAD;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

@media (min-width: 1080px) {
    .container {
        max-width: 1002px;
    }
}
@media (min-width: 764px) {
    .container {
        max-width: 748px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width: 556px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 1080px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 764px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 556px) {
    .container {
        max-width: 540px;
    }
}
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 66px;
}
@media (min-width: 764px) {
    .container {
        padding-top: 1rem;
    }
}

canvas {
    image-rendering: pixelated;
    width: 576px;
    height: 192px;
    background-color: #1E2226;
    border: 1px solid #333;
    background: transparent;
    cursor: crosshair;
}

.controls {
    display: flex;
    gap: 12px;
    align-items: center;
}